---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import ImageFeaturePromotion from "../components/ImageFeaturePromotion.astro";
import Upload from "../components/Upload.astro";
import Footer from "../components/Footer.astro";
import Shapes from "../components/Shapes.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>حذف پس‌زمینه</h1>
    <h2>رایگان و سریع, قدرت گرفته با هوش‌ مصنوعی</h2>
    <Shapes />
    <Upload />
    <ImageFeaturePromotion />
    <Footer />
  </main>
</Layout>

<style>
  main {
    font-size: 20px;
    line-height: 1.6;
    max-width: 1000px;
    margin: 0 auto;
    color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  h1 {
    font-size: 3.4rem;
    text-align: center;
    font-family: "Vazir";
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: "kern" 1;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 900;
  }

  h2 {
    font-size: 1em;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    color: black;
    margin: 0;
    margin-bottom: 60px;
  }
  section {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }
</style>
