---
// This is a component for a card and button inside to drop an image
---

<button>آپلود عکس</button>

<style>
  button {
    border: none;
    background-color: #5e18eb;
    border-radius: 40px;
    font-size: 23px;
    font-family: "Vazir";
    font-weight: bold;
    color: white;
    width: 200px;
    height: 70px;
    /* Rectangle 2 */

    /* position: absolute;
    width: 305px;
    height: 58px;
    left: 35px;
    top: 497px; */

    /* l3 */
    background: linear-gradient(198.06deg, #8468f5 30.76%, #ec74e7 132.15%);
    cursor: pointer;
    /* border-radius: 24px; */
  }
</style>
