---
// This is a component for a card and button inside to drop an image
---

<div class="card">
  <div class="card-body">
    <button>آپلود کن</button>
    <!-- /<input type="file" id="file" class="d-none" /> -->
    <p class="btn btn-primary">or drop a file, paste image or URL</p>
  </div>
</div>

<style>
  .card {
    background-color: white;
    box-shadow:
      rgba(0, 0, 0, 0) 0px 0px 0px 0px,
      rgba(0, 0, 0, 0) 0px 0px 0px 0px,
      rgba(69, 69, 69, 0.2) 0px 0px 56px 0px;
    border-radius: 30px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 50px;
    height: 300px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & button {
      background-color: #007bff;
      color: white;
      border: none;
      cursor: pointer;
      width: 140px;
      height: 70px;
      border-radius: 40px;
      font-size: 25px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
  }
  .card-title {
    text-align: center;
  }
  .card-text {
    text-align: center;
  }
</style>
